.asideFilter{
  border: 1px solid #eee;
  padding: 2rem;
  border-radius: .5rem;
}

.genderFilter{
  display: flex;
  flex-direction: column;
}

.stateFilter{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.title{
  font-weight: normal;
  margin-bottom: 14px;
  font-size:2rem;
  color:#222D39;
}

label{
  margin-bottom: 8px;
  font-size:1.6rem
}